@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li button:before {
    font-size: 20px !important;
}
.slick-dots li.slick-active button:before,
.slick-dots li button:focus::before,
.slick-dots li button:hover::before {
    color: #db2777 !important;
    opacity: 1 !important;
}
.slick-arrow {
    display: none !important;
}
