@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li button:before {
    font-size: 20px !important;
}
.slick-dots li.slick-active button:before,
.slick-dots li button:focus::before,
.slick-dots li button:hover::before {
    color: #db2777 !important;
    opacity: 1 !important;
}
.slick-arrow {
    display: none !important;
}

/* Delete permission */
.popup-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.react-confirm-alert-overlay {
    background: rgba(0, 0, 0, 0.7);
}

.react-confirm-alert-body {
    text-align: center !important;
}

.react-confirm-alert-body h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.react-confirm-alert-button-group {
    justify-content: flex-end !important;
}

.react-confirm-alert-button-group button {
    font-size: 16px;
}

.react-confirm-alert-button-group button:first-child {
    background: rgb(240, 82, 82, 1);
}
